.CodeMirror , .cm-s-ambiance.CodeMirror {
  line-height: 2.5em;
  font-size:200%;
  font-weight:200;
  font-family: "Times New Roman","Microsoft JhengHei";
}

.translated {color:lightgreen}
.sourceword {position:absolute;top:-1.3em;font-size:75%;color:gray;
font-weight: 500}
.source{color:silver;border:1px dotted gray;}
